---
interface Props {
	source: string;
	head: string;
    body: string;
}

const { source, head, body } = Astro.props;
---


<div class="max-w-[600px] gap-3 lg:gap-4 flex items-start">
    <img class="w-[23px]  drop-shadow-[0px_0px_5px_#00000066]" src={source} alt="">
    <div class="txt">
        <h3 class="font-bold text-base sm:text-lg mb-1">
            {head}
        </h3>
        <p class="text-sm sm:text-base">
            {body}
        </p>
    </div>
</div>