---
import { Image } from 'astro:assets';
interface Props {
    title: string;
    data:string;
    img:string;
}

const { title , data , img} = Astro.props;
---
<div class="p-4 xl:w-1/3 lg:w-1/2">
    <div class="h-full flex sm:flex-row flex-col  sm:justify-start justify-center text-center sm:text-left items-center sm:items-start">
      <Image alt="hero" src={img} class="object-cover object-strat  rounded w-20 h-20" height="72px" width="72px"/>
      <div class="flex-grow sm:pl-7 sm:pt-6 item-center">
        <h2 class="title-font font-medium text-lg text-[#48389C] mb-3">{title}</h2>
        
        <p class="mb-4">{data}</p>
      </div>
    </div>
</div>