---
interface Props {
	source: string;
	body: string;
}

const { source, body } = Astro.props;
---

<div class="max-w-[194px] text-center">
    <div class="w-[50%] md:w-[60%] lg:w-fit m-auto">
        <img src={source} alt="why">
    </div>
        <Fragment set:html={body}/>
    </p>
</div>

